nav {
  height: 90px;
  position: fixed;
  width: 100%;
  background-color: #e4e3e3;
  top: 0;
  z-index: 2;
  clip-path: polygon(
    0 0,
    0 58px,
    45% 48px,
    55% 61px,
    65.1% 40px,
    73% 53px,
    100% 53px,
    100% 0
  );
}

.active {
  visibility: visible;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(-100%);
}

nav ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

li {
  list-style: none;
  padding-bottom: 2%;
}
